@import '../../mixin.module.scss';

@mixin event($x, $y) {
    &:hover {
        color: #FFC745;
        cursor: pointer;
        transform: translate($x, $y) scale(1.2);
    }
}

.Modal {
    display: flex;
    position: fixed;
    z-index: 99;
    @include location(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    @include flex-center();
    text-align: center;
    color: white;
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    section {
        @include if-mobile() {
            @include size(90vw, 56vw);
        }
        @include size(76vw, 47vw);
        background-color: #333;
        header {
            display: flex;
            position: relative;
            height: 7%;
            @include flex-center();
            @include font(white, normal, 300, 1vw);
            svg {
                z-index: 99;
                position: absolute;
                @include location(13%, 0.5%, none, none);
                width: 50px;
                transition: 0.3s;
                @include event(0%, 0%);
            }
        }
        div {
            position: relative;
            height: 83%;
            svg {
                position: absolute;
                top: 50%;
                width: 70px;
                transition: 0.3s;
                transform: translate(0%, -50%);
                @include event(0%, -50%);
            }
            img {
                height: 100%;
                user-select: none;
            }
        }
        footer {
            display: flex;
            height: 10%;
            @include flex-center();
            img {
                @include size(6vw, 4vw);
                transition: 0.3s;
                margin-right: 0.7vw;
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 1px 3px 1px gray;
                    transform: scale(1.05);
                }
            }
            .current {
                border: 0.16vw solid #FFC745;
                transform: scale(1.05);
            }
        }
    }
}