@import '../../mixin.module.scss';

.profile {
    @media all and (max-width: 1023px) {
        margin: 1rem 0 2rem 0;
    }
    margin: 1rem 0 0 3rem;
    @include size(250px, 250px);
    border-radius: 50%;
    box-shadow: 0 0 5px 3px gray;
}