@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import './mixin.module.scss';


.Resume {
    @include media-size(90%, 1200px);
    margin: 0px auto;
    padding: 60px 0 60px 0;
    line-height: 2;
    .Container {
        .Subject {
            border-bottom: 1px solid #CCCCCC;
            margin-bottom: 2rem;
        }
        .Wrapper {
            display: flex;
            flex-flow: wrap;
            @media all and (max-width: 1023px) {
                margin-bottom: 4rem;
            }
            margin-bottom: 2rem;
            .Left {
                @include media-size(100%, 30%);
                @include media-text-align();
                @media all and (max-width: 1023px) {
                    padding-right: 0;
                }
                padding-right: 5%;
            }
            .Right {
                @include media-size(100%, 70%);
                .desc {
                    @media all and (max-width: 1023px) {
                        margin-top: 1rem;
                    }
                    margin-top: 0;
                    ul {
                        @media all and (max-width: 1023px) {
                            padding-inline-start: 20px;
                        }
                        padding-inline-start: 40px;
                        .foldable {
                            list-style: none;
                            details {
                                margin-left: -15px;
                                summary:hover {
                                    color: #B2CCFF;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .keywords {
                    display: flex;
                    flex-flow: wrap;
                    @include media-content-align();
                    span {
                        display: inline-block;
                        margin: 0.5rem 0.5rem 0.5rem 0;
                        padding: 1px 6px;
                        background-color: rgb(239, 239, 239);
                        line-height: normal;
                        @include font(#333, normal, 300, 1.5rem);
                        box-shadow: 0 1px 3px 0 gray;
                    }
                }
                .images {
                    display: flex;
                    flex-flow: wrap;
                    @include media-content-align();
                    img {
                        display: inline-block;
                        @include size(12rem, 8rem);
                        margin: 0.5rem 1rem 0.5rem 0;
                        box-shadow: 0 1px 3px 1px gray;
                        transition: 0.3s;
                        &:hover {
                            cursor: pointer;
                            box-shadow: 0 2px 5px 2px gray;
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}